flask
flask-sqlalchemy
werkzeug
psycopg2-binary==2.9.6
python-dotenv==1.0.0
absl-py==1.4.0
aiohttp==3.8.3
aiosignal==1.3.1
alembic==1.12.0
altair==5.1.1
altgraph==0.17.3
amqp==5.1.1
aniso8601==9.0.1
annotated-types==0.7.0
anyio==4.8.0
APScheduler==3.10.4
argcomplete==1.10.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.3.1
asttokens==2.4.0
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.1.0
autopep8==1.7.0
babel==2.17.0
backcall==0.2.0
backports.tarfile==1.2.0
base58==2.1.1
bcrypt==4.0.1
beautifulsoup4==4.13.3
bidict==0.22.1
billiard==4.1.0
bleach==6.2.0
blinker==1.9.0
blis==1.2.0
Bootstrap-Flask==2.3.3
Brotli==1.1.0
build==1.2.2.post1
CacheControl==0.14.2
cachelib==0.10.2
cachetools==5.3.1
catalogue==2.0.10
celery==5.3.4
certifi==2022.9.24
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.1.1
cleo==2.1.0
click==8.1.8
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cloudpathlib==0.20.0
colorama==0.4.6
comm==0.2.2
compressed-rtf==1.0.6
confection==0.1.5
config==0.5.1
contourpy==1.1.0
crashtest==0.4.1
cryptography==41.0.3
cs50==9.2.5
cssselect2==0.8.0
ctypes-callable==1.0.4
cx-Freeze==6.15.7
cx-Logging==3.1.0
cycler==0.11.0
cymem==2.0.11
DateTime==5.2
debugpy==1.8.12
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.9
Django==2.2.13
dnspython==2.0.0
docx2txt==0.8
dominate==2.5.2
dpkt==1.9.8
dulwich==0.22.7
EasyProcess==1.1
ebcdic==1.1.1
email-validator==1.1.3
entrypoint2==1.1
exceptiongroup==1.1.3
executing==1.2.0
extract-msg==0.28.7
fastjsonschema==2.21.1
filelock==3.12.4
findpython==0.6.2
firebase-admin==6.2.0
Flask==2.2.5
Flask-Admin==1.5.4
Flask-Bcrypt==0.7.1
Flask-Caching==2.3.1
Flask-CKEditor==0.5.1
Flask-Cors==3.0.10
Flask-Gravatar==0.5.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==3.1.0
Flask-Minify==0.37
Flask-MySQLdb==1.0.1
flask-restx==0.5.1
Flask-Session==0.4.1
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
Flask-WTF==0.14.3
flask_weasyprint==1.1.0
flat-table==1.1.1
flatbuffers==23.5.26
fonttools==4.42.1
fqdn==1.5.1
fr_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.8.0/fr_core_news_sm-3.8.0-py3-none-any.whl#sha256=7d6ad14cd5078e53147bfbf70fb9d433c6a3865b695fda2657140bbc59a27e29
frozenlist==1.4.0
future==0.18.3
gast==0.4.0
gitdb==4.0.10
GitPython==3.1.36
google-ai-generativelanguage==0.6.15
google-api-core==2.11.1
google-api-python-client==2.99.0
google-auth==2.23.0
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.0.0
google-cloud-core==2.3.3
google-cloud-firestore==2.12.0
google-cloud-storage==2.10.0
google-cloud-translate==3.20.1
google-crc32c==1.5.0
google-generativeai==0.8.4
google-pasta==0.2.0
google-resumable-media==2.6.0
googleapis-common-protos==1.60.0
googlesearch-python==1.2.3
greenlet==2.0.2
grpc-google-iam-v1==0.14.1
grpcio==1.58.0
grpcio-status==1.58.0
gTTS==2.5.4
gunicorn==20.0.4
h11==0.14.0
h5py==3.9.0
html2text==2020.1.16
htmlmin==0.1.12
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
humanize==4.8.0
idna==3.4
IMAPClient==2.1.0
importlib-metadata==6.8.0
iniconfig==2.0.0
installer==0.7.0
ipcalc==1.99.0
ipfshttpclient==0.7.0
ipwhois==1.2.0
ipykernel==6.29.5
ipython==8.15.0
ipywidgets==8.1.5
isoduration==20.11.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.0
Jinja2==3.1.6
joblib==1.3.2
jobspy==0.29.0
jsmin==3.0.1
json-logging==1.3.0
json5==0.10.0
jsonpointer==3.0.0
jsons==1.6.3
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
keras==2.13.1
keyring==25.6.0
kiwisolver==1.4.5
kombu==5.3.2
langcodes==3.5.0
language_data==1.3.0
lesscpy==0.15.1
Levenshtein==0.21.1
libclang==16.0.6
lief==0.13.2
loguru==0.5.3
lxml==5.3.1
Mako==1.2.4
marisa-trie==1.2.1
Markdown==3.4.4
markdown-it-py==3.0.0
markdownify==0.13.1
MarkupSafe==3.0.2
matplotlib==3.7.3
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==3.1.2
more-itertools==10.6.0
MouseInfo==0.1.3
mpmath==1.3.0
msgpack==1.0.5
mss==9.0.1
multiaddr==0.0.9
multidict==6.0.4
murmurhash==1.0.12
mysqlclient==2.2.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
netaddr==0.8.0
netifaces==0.11.0
networkx==3.1
notebook==7.3.2
notebook_shim==0.2.4
notify-py==0.3.3
numpy==1.26.3
oauthlib==3.2.2
olefile==0.47
openai==0.28.1
opencv-python==4.8.0.76
opt-einsum==3.3.0
osint-geo-extractor==0.0.11
outcome==1.2.0
overrides==7.7.0
packaging==24.2
pandas==2.1.0
pandocfilters==1.5.1
parso==0.8.3
passlib==1.7.4
pbs-installer==2025.2.12
pdfkit==1.0.0
pdfminer.six==20191110
pdfplumber==0.11.5
pefile==2023.2.7
pickleshare==0.7.5
Pillow==9.5.0
ping3==4.0.4
pip-api==0.0.30
pkginfo==1.12.1.2
platformdirs==4.3.6
plotly==5.17.0
pluggy==1.3.0
ply==3.11
poetry==2.1.1
poetry-core==2.1.1
preshed==3.0.9
prometheus_client==0.21.1
prompt-toolkit==3.0.39
proto-plus==1.22.3
protobuf==4.25.6
psutil==5.9.2
psycopg2==2.9.7
pure-eval==0.2.2
pyAesCrypt==6.1.0
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAutoGUI==0.9.54
pycodestyle==2.9.1
pycparser==2.21
pycryptodome==3.21.0
pydantic==2.10.6
pydantic_core==2.27.2
pydeck==0.8.0
pydyf==0.11.0
pygeoip==0.3.2
PyGetWindow==0.0.8
pygi==1.0.3
Pygments==2.16.1
pyinstaller==4.5
pyinstaller-hooks-contrib==2023.8
PyJWT==2.8.0
pymongo==4.1.1
Pympler==1.0.1
PyMsgBox==1.0.9
pyotp==2.9.0
pyparsing==3.1.1
PyPDF2==3.0.1
pypdfium2==4.30.1
pyperclip==1.5.27
pyphen==0.17.2
pyproject-toml==0.0.10
pyproject_hooks==1.2.0
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PyRect==0.2.0
pyscreenshot==3.1
PyScreeze==0.1.29
PySocks==1.7.1
pytesseract==0.3.10
pytest==7.4.2
pytest-gc==0.0.1
python-application==2.8.0
python-dateutil==2.8.2
python-dotenv==0.19.2
python-engineio==4.7.1
python-jobspy==1.1.77
python-json-logger==3.2.1
python-Levenshtein==0.21.1
python-nmap==0.6.1
python-pptx==0.6.23
python-socketio==5.9.0
python-time==0.3.0
python-whois==0.8.0
pytweening==1.0.7
pytz==2020.5
pytz-deprecation-shim==0.1.0.post0
pywin32==306
pywin32-ctypes==0.2.2
pywinpty==2.0.15
PyYAML==6.0.1
pyzmq==26.2.1
rapidfuzz==3.2.0
rcssmin==1.1.1
redis==5.0.0
referencing==0.30.2
regex==2024.11.6
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.5.2
rpds-py==0.10.3
rsa==4.9
scapy==2.4.5
scapy-python3==0.21
scikit-learn==1.3.0
scipy==1.11.2
seaborn==0.12.2
selenium==4.12.0
Send2Trash==1.8.3
shellingham==1.5.4
simple-websocket==0.10.1
six==1.17.0
smart-open==7.1.0
smmap==5.0.0
sniffio==1.3.0
sockets==1.0.0
sortedcontainers==2.4.0
sounddevice==0.5.1
soupsieve==2.5
spacy==3.8.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.8.1
SQLAlchemy==2.0.40
sqlparse==0.4.4
srsly==2.5.1
stack-data==0.6.2
stem==1.8.2
streamlit==1.26.0
subprocess.run==0.0.8
sympy==1.12
tenacity==8.2.3
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
terminado==0.18.1
textract==1.6.5
thinc==8.3.4
thop==0.1.1.post2209072238
threaded==4.1.0
threadpoolctl==3.2.0
tinycss2==1.4.0
tinyhtml5==2.0.0
tls-client==1.0.1
toml==0.10.2
tomlkit==0.13.2
toolz==0.12.0
torch==2.0.1
tornado==6.3.3
tqdm==4.66.1
traitlets==5.10.0
trio==0.22.2
trio-websocket==0.10.4
trove-classifiers==2025.2.18.16
typer==0.15.1
typing_extensions==4.12.2
typish==1.9.3
tzdata==2023.3
tzlocal==4.3.1
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.12
validators==0.22.0
varint==1.0.2
vine==5.0.0
virtualenv==20.29.2
virustotal-api==1.1.11
visitor==0.1.3
wasabi==1.1.3
watchdog==3.0.0
wcwidth==0.2.6
weasel==0.4.1
weasyprint==65.0
webcolors==24.11.1
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.1.3
widgetsnbextension==4.0.13
win32-setctime==1.1.0
wrapt==1.15.0
wsproto==1.2.0
WTForms==2.3.3
wtforms-html5==0.6.1
xlrd==1.2.0
XlsxWriter==3.2.2
xml-python==0.4.3
xxhash==3.3.0
yarl==1.9.2
zipp==3.16.2
zope.interface==6.0
zopfli==0.2.3.post1
zstandard==0.23.0

